@model  Task5.WebClient.Models.Filters.OrderFilter

@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <h1>Welcome to sale manager </h1>
</div>
@using (Ajax.BeginForm("OrderSearch", new AjaxOptions { UpdateTargetId = "ordersTable" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="editor-label">
                    @Html.LabelFor(model => model.ClientName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="col">
                <div class="editor-label">
                    @Html.LabelFor(model => model.ProductName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="col">
                <div class="editor-label">
                    @Html.LabelFor(model => model.DateTime)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.DateTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateTime, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-10">
                <hr />
                <input type="submit" value="Поиск" class="btn btn-success border border-dark rounded-pill" />
                <input type="button" id="clear" value="Сбросить" class="btn btn-secondary border border-dark rounded-pill" />
                <hr />
            </div>
        </div>
    </div>
}
<div id="ordersTable"></div>
<section id="orderDetailsSection">
    <div id="orderDetails"></div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {
        getOrders();
    });

    function getOrders() {
        jQuery.ajax(
            {
                url: "@Url.Action("OrderSearch", "Sale")",
                data: { page:@ViewBag.CurrentPage},
                type: "GET",
                success: function (data, textStatus, XHR) {
                    jQuery("#ordersTable").html(data);
                },
                dataType: "html"
            }
        );
    }

    $("#clear").on("click", function () {
        $('#Name').val('');
        $('#Product').val('');
        $('#Date').val('');
        getOrders();
    });

    showOrderDetails = function () {
        $("#orderDetails").show();
    }
    hideOrderDetails = function () {
        $("#orderDetails").hide();
        $("#orderDetails").html(null);
    }
</script>
