@model PagedList.IPagedList<Task5.WebClient.Models.Order.HomeOrderViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "List";
}

@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Создать новый", "Create", new { page = ViewBag.CurrentPage }, htmlAttributes: new { @class = "btn btn-success border border-dark rounded-pill" })
    </p>
}
@if (Model != null && Model.Count > 0)
{
    <h4>Список заказов</h4>
    <hr />
    <div>
        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("Имя", "Index", new { sortOrder = ViewBag.NameSortParam })
                </th>
                <th>
                    @Html.ActionLink("Продукт", "Index", new { sortOrder = ViewBag.ProductSortParm })
                </th>
                <th>
                    @Html.ActionLink("Дата", "Index", new { sortOrder = ViewBag.DateSortParm })
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        <button type="button"  onclick="onOrderDetails(@item.Id)">Подробно</button>
                        @if (User.IsInRole("admin"))
                        {
                            @Html.ActionLink("Редактировать", "Edit", new { id = item.Id, page = ViewBag.CurrentPage })
                            @Html.ActionLink("Удалить ", "Delete", new { id = item.Id, page = ViewBag.CurrentPage })
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    @Html.PagedListPager(Model, page => Url.Action("OrderSearch", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { UpdateTargetId = "ordersTable" }))

}
else
{
    <div>Нет записей</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    onOrderDetails = function (Id) {
        $.get('@Url.Action("Details", "Sale")', {id:Id }, function(data, textStatus, XHR)
        {
            $("#orderDetails").html(data);
            showOrderDetails();
        })
    }
</script>